.search {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.label {
  font-size: 18px;
  font-weight: 600;
}

.input {
  font-size: 14px;
  height: 28px;
  border-radius: 5px;
  border: 1px solid gray;
  width: 180px;
  padding-left: 4px;
}
